@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom app styles (optional) */
html, body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
